.card{
  background-color:rgb(162, 240, 250);
  font-family: 'Pacifico',
  cursive;
  box-shadow: 3px 4px 7px rgb(12, 1, 1);
   margin:auto;
  width: 25rem;
  height: 25rem;
  margin-top: 7rem;
  
}
.user input{
  height: 35px;
  width: 15rem;
  margin-top: 20px;
  font-size: large;
  border-radius: 20px;
  border: 2px solid white;
  padding-left: 20px;
  box-shadow: 2px 3px 5px rgb(12, 1, 1);

  
}
.pass input{
   height: 35px;
   width: 15rem;
   margin-top:20px;
   font-size: large;
   border-radius: 20px;
   border: 2px solid white;
   padding-left: 20px;
   box-shadow: 2px 3px 5px rgb(12, 1, 1);
}
button{
   height: 35px;
   width: 10rem;
   margin-top: 30px;
   font-size: large;
   border-radius: 20px;
   border: 2px solid white;
   background-color: white;
  box-shadow: 2px 3px 5px rgb(12, 1, 1);

}
.h1,.user,.pass,.log{
  text-align: center;
    

}
h1{
  padding-top: 30px;
}
.get{
  margin-left: 60px;
  margin-top: 20px;
}
p{
  float: right;
  margin-top: -25px;
  margin-right: 60px;
}